.big {
    color: lemonchiffon;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 150px;
    margin-left: 1020px;
    margin-top: 40px;
    line-height: 130px;
    letter-spacing: 10px;
}

.big1 {
    color: lemonchiffon;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 150px;
    margin-left: 990px;
    margin-top: 150px;
    line-height: 160px;
    letter-spacing: 2px;
}

.biggest {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 45px;
    margin-left: 915px;
    margin-top: 280px;
    line-height: 47px;
}

.biggest1 {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 45px;
    margin-left: 920px;
    margin-top: 330px;
    line-height: 47px;
    letter-spacing: 2px;

}

.bigg {
    color: #061e36;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 50px;
    margin-left: 995px;
    margin-top: 845px;
}

.bigger {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 50px;
    margin-left: 800px;
    margin-top: 900px;
    letter-spacing: 5px;
}

.small {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 30px;
    margin-left: 720px;
    margin-top: 210px;
    line-height: 110px;
}

.circle {
    color: #61c5bb;
    border-radius: 23px;
    border: 23px solid #61c5bb;
    position: absolute;
    top: 0px;
    font-size: 50px;
    margin-left: 986px;
    margin-top: 850px;
}

.image {
    text-align: center;
    width: 100%;
}

.contents {
    width: 100%;
}

.contents h2 {
    font-size: 50px;
    margin-left: 1300px;
}

.table1 {
    margin-left: 850px;
    font-size: 27px;
    line-height: 55px;
}

.table2 {
    margin-left: 850px;
    font-size: 27px;
}

.text {
    width: 100%;
    margin-top: 5px;
}

.text1 {
    float: left;
    width: 35%;
    height: 100%;
    padding-left: 300px;
    padding-right: 5px;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: justify;
    font-size: 30px;
}

.text2 {
    float: right;
    width: 35%;
    height: 100%;
    padding-left: 5px;
    padding-right: 300px;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: justify;
    font-size: 30px;
}

span {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.right {
    text-align: right;
}