.grid{
    display: grid;
    grid-template-rows: 25px 80px 80px 80px 80px 80px ;
    grid-template-columns: 25px 40px 80px 80px 80px 80px 80px 80px 25px   ;
    width: 42.6%;
    height:425px;

    background-image: url(expoo.jpg) ;

    justify-content: center;


}
.grid>div{
    color: white;
    border:none;

}
.div-1{
    background-color: rgb(69, 32, 100);
}
.div-is{
    padding-left:10px;
    background-color: rgb(69, 32, 100);
}
.div-is1{

    background-color: rgb(69, 32, 100);
}

#aitu{
    text-align: center;
    justify-content: center;
    padding-top:40px;
}