* {
    box-sizing: border-box;
}

body {
    background: lavenderblush;
    padding-top: 30%;
}

h1,
{
    width:80%;
    margin: 0 auto;
}

@supports (display: flex) {
    body {
        padding:0;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    h1, .login, .text, .contact  {
        margin: 0;
        width: 80%;
    }
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-columns: 90%;
        align-content: center;

    }
    @media (min-width: 750px) {
        body {
            grid-template-columns: repeat(2, minmax(200px, 30%));
        }
        h1,
        .login {
            grid-column-end: span 2;
            width: auto;
        }
        .login > div {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
        }
        .login > div.actions {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .account {
            border-right: 1px dotted khaki;
            padding: 0 10px 0 0;
            align-self: end;
            width: auto;
        }
        .contact {
            padding: 0 0 0 10px;
            width: auto;
        }
        input[type="submit"] {
            grid-column: 2;
        }
        .actions a {
            justify-self: end;
        }
    }
}

h1 {
    background-color: #c8dde7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
}

.login {
    background-color: #dce6eb;
    border: 1px #3185ab;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.login > div {
    padding: 5px 0;
}

input[type="submit"] {
    border: 3px #3185ab ;
    border-radius: 5px;
    color: white ;
    background-color: #3185ab;
    font-size: 110%;
}

input[type="text"],
input[type="password"] {
    border: 1px #dce6eb ;
    padding: 8px;
    border-radius: 8px;
    font-size: 100%;
    width: 100%;
}

.actions a {
    font-size: 75%;
}